/*banner section style*/
.banner-image{
    position: relative;
}

  
  .bg-content{
    position:absolute;
    z-index: 1;
    
    top:40%;
    left:27%;
  }
  .arrow{
    margin: 0px 160px;

  }
  