/*banner section style*/
.banner-image{
    position: relative;
}

  
  .bg-content{
    position:absolute;
    z-index: 1;
    width: 700px;
    margin:0px auto;
    
    top:40%;
    left: 20%;
  }
  
  .arrow{
    margin: 0px 160px;


  }
  